<div id="welcome-text">
    <h1>Welcome to my mini-portfolio!</h1>
    <h2>A collection of small frontend projects</h2>
    <h3>Please click on a card for more information and to open the project</h3>  
</div>
<div id="main">
    <div id="container">
        {{>projlist}}  
    </div>  
</div>