* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(#ffe2d1, #e1f0c4, #55917f);
    overflow: hidden;
}

#welcome-text {
    height: 15vh;
    color: #55917f;
    text-align: center;
    margin-bottom: 2rem;
}

h1 {
    padding: 10px;
    color: #355a4f;
    text-align: center;
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

#welcome-text h3 {
    font-size: 1rem;
    color: #55917f;
}

ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 72vh;
    width: 100%;
}

#main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 72vh;
    width: 100%;
}

#container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 72vh;
    width: 70%;
}
a {
    color: #5e4c5a;
    text-decoration: none;
    font-weight: bold;
}

li {
    list-style-type: none;
    width: 100%;
    margin: 10px 0;
}

#project {
    text-align: center;
    height: 35vh;
    width: 35vh;
    margin: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #5e4c5a;
    border-radius: 30px;
    box-shadow: 10px 10px 10px #55917f;
}

#project:hover,
#project:focus {
    animation-name: twist;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes twist {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#screenshot {
    height: 70%;
    width: 70%;
    object-fit: fill;
    padding: 10px;
}

#copyright {
    position: fixed;
    height: 3vh;
    bottom: 2px;
    left: 2px;
    margin: 0;
    color: #5e4c5a;
}

#large {
    height: 350px;
    width: 350px;
    margin: 10px;
    padding: 20px;
    border: 2px solid #5e4c5a;
    border-radius: 30px;
    box-shadow: 10px 10px 10px #55917f;
}

#large:hover,
#large:focus {
    background-color: #e1f0c4;
}

#navbar {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    height: 10vh;
    width: 100%;
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0;
    border: solid 1px #5e4c5a;
    border-radius: 30px;
    padding-bottom: 5px;
}

#navbar img {
    display: none;
}

#navbar ul {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 7vh;
    width: 100%;
    padding-bottom: 5px;
}

#navbar li,
#home {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 7vh;
    text-align: center;
    margin: 0;
}

#navbar li:hover {
    color: #55917f;
}

#navbar #project {
    height: 7vh;
    width: 10vh;
    text-align: center;
    margin: 0;
    padding: 10px;
    border: none;
    box-shadow: none;
    animation: none;
}

#desc-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

h3 {
    color: #55917f;
    margin: 10px;
}

#desc-content p {
    color: #5e4c5a;
    font-size: 15px;
    font-style: italic;
}
